/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --max-width: 1000px;
}

html, body {
  font-family: 'Cantarell', sans-serif;
  background: #111;
  background-image: url("img/prism.png");
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

body {
  background: rgba(0,0,0,0.5);
}

a {
  color: #fff;
}

ul {
padding-left: 10px;
}

.social {
  font-size: 20px;
  text-decoration: none;
  padding: 10px;
}

.logo {
  display: block;
  margin: 0 auto;
  max-width: var(--max-width);
  height: auto;
  padding: 10px;
  padding-top: 30px;
}

.header {
  margin: 0;
  padding-top: 10px;
}

.footer {
  margin: 10px 0 40px 0;
}

nav a {
  text-decoration: none;
  font-size: 14px;
  padding: 5px;
}

nav a:hover, a.active {
  color: #b7cde4;
}

.cover {
  display: block;
  margin: 0 auto;
  max-width: 800px;
  height: auto;
  width: 100%;
  padding: 0;
}

.btn {
  background: transparent;
  border: 1px solid #eee;
  border-radius: 15px;
  padding: 12px 10px 12px 55px;
  margin: 10px auto;
  color: #fff;
  display: block;
  text-decoration: none;
  max-width: 350px;
  text-align: left;
  position: relative;
}

.btn:hover {
  background: #fff;
  border: 1px solid #fff;
  color: #000;
  text-decoration: none;
}

.btn i {
  padding-right: 5px;
}

.btn img {
  height: 48px;
  position: absolute;
  top: 0;
  left: 0;


}

.stream-btn {
  font-size: 50px;
  text-decoration: none;
  margin: 15px 20px;
}

.stream-btn:hover {
  color: #b7cde4;
}

.more-btn {
  background: transparent;
  padding: 10px;
  margin: 15px auto;
  color: #fff;
  display: block;
  text-decoration: none;
  max-width: 200px;
}

.more-btn:hover {
  color: #b7cde4;
}

.social-links {
  display: block;
  margin: 0 auto;
  color: #fff;
  font-size: 24px;
}

.social-links i {
  padding-right: 5px;
}


.italic {
  font-style: italic;
}

.signup {
  padding-top: 15px;
  margin: 0 auto;
}

.signup input {
  padding: 10px;
  border-radius: 15px;
  border: 1px solid #b7cde4;
  background: #111;
  color: #fff;
  width: 100%;
  margin: 10px 0;
  max-width: 300px;
}

input.subscribe {
  border: 1px solid #b7cde4;
  background: #c8e2fd;
  background: -moz-linear-gradient(-45deg,  #c8e2fd 0%, #6c7078 41%, #786a61 77%, #8f634b 100%);
  background: -webkit-linear-gradient(-45deg,  #c8e2fd 0%,#6c7078 41%,#786a61 77%,#8f634b 100%);
  background: linear-gradient(135deg,  #c8e2fd 0%,#6c7078 41%,#786a61 77%,#8f634b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c8e2fd', endColorstr='#8f634b',GradientType=1 );
  margin: 0 auto;
  text-align: center;
}


h4 {
  font-size: 12px;
}

.hide {
  opacity: 0;
  line-height: 0;
}

.headline {
  margin: 0 auto 10px auto;
  font-weight: 100;
  max-width: 350px;
}

.section {
  margin: 40px auto;
  display: inline-block;
}

.press {
  display: block;
  padding: 0;
  width: 33.33%;
  float: left;
}

.press img {
  max-height: 40px;
  display: block;
  margin: 20px auto;
}

.press-list {
  display: inline-block;
  padding: 0;
  width: 100%;
  text-transform: none;
  margin-bottom: 20px;
  text-align: left !important;
}

.press-list img {
  max-height: 40px;
  display: inline-block;
  margin: 20px auto 5px auto;
}

.more-press {
  display: inline-block;
  padding: 15px 10px;
  text-align: left;
}

.more-press li {
padding: 5px 0;
text-transform:none;
}

.c-50 {
  width: 50%;
  float: left;
}

.col {
  text-align: center;
}

  text-align: center;
.row {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 10px;
  display: inline-block;
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-lower {
  text-transform: none;
}

.quote {
  font-size: 14px;
  font-style: italic;
  text-transform: none;
  max-width: 300px;
  margin: 0 auto;
  padding-bottom: 20px;
}

hr {
  border: 1px solid #4a4a4a;
  margin-bottom: 2rem;
  max-width: var(--max-width);
}

@media (max-width: 700px) {
  .c-50 {
    width: 100%;
  }
  .row {
    padding: 0 5px;
  }
  .press {
    display: block;
    margin: 20px auto;
    padding: 0;
    float: initial;
    max-width: 200px;
  }
}
